<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
  <mat-form-field fxFlex="70%">
    <mat-label>Cari</mat-label>
    <input matInput #filterInput />
  </mat-form-field>
  <mat-form-field fxFlex="25%">
    <mat-select placeholder="Status Pendaftaran" #matSelect name="status">
      <mat-option [value]="''">Tampilkan Semua</mat-option>
      <mat-option [value]="0">Daftar Akun</mat-option>
      <mat-option [value]="1">Menunggu Pembayaran</mat-option>
      <mat-option [value]="2">Verifikasi</mat-option>
      <mat-option [value]="3">Ditolak</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <span class="mobile-label">No:</span>
        {{ element.index }}
      </mat-cell>
    </ng-container>

    <!-- Path Column -->
    <ng-container matColumnDef="university_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Universitas</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        {{ element.universityName }}</mat-cell
      >
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef>Tanggal Submit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        {{ element.registerLastAt | date: "d MMMM y" }}</mat-cell
      >
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="register_paid">
      <mat-header-cell *matHeaderCellDef>Biaya Pendaftaran</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        <span *ngIf="element.registerPaid" class="pills success">Sudah dibayar</span>
        <span *ngIf="!element.registerPaid" class="pills warn">Belum dibayar</span>
      </mat-cell>
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="annual_paid">
      <mat-header-cell *matHeaderCellDef>Iuran Tahun Pertama</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        <span *ngIf="element.annualPaid" class="pills success">Sudah dibayar</span>
        <span *ngIf="!element.annualPaid" class="pills warn">Belum dibayar</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="document">
      <mat-header-cell *matHeaderCellDef>Dokumen</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        <button mat-flat-button color="primary" (click)="onDetailClick(element)" class="button-small">
          Lihat Detail
        </button>
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="8px"
        style="padding: 8px 0px"
      >
        <button
          *ngIf="element.registerLastStatus === 2"
          mat-flat-button
          color="accent"
          (click)="onVerifyClick(element)"
          class="button-small"
        >
          Verifikasi
        </button>
        <button
          *ngIf="element.registerLastStatus === 2"
          mat-flat-button
          color="warn"
          (click)="onRejectClick(element)"
          class="button-small"
        >
          Tolak
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="resultsLength"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
