<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Profil</a>
      <a mat-list-item routerLink="dosen">Dosen</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        style="width: 100%"
      >
        <span style="padding-left: 16px"></span>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="16px"
          [matMenuTriggerFor]="menu"
          class="pointer"
        >
          <div>{{ (state$ | async).member?.universityName }}</div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="8px"
          >
            <div style="width: 40px">
              <img
                style="width: 100%; border-radius: 50%"
                src="assets/image/profile.png"
                alt=""
              />
            </div>
            <mat-icon aria-label="Side nav toggle icon">expand_more</mat-icon>
          </div>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Keluar</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div
      style="margin: 24px"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="16px"
    >
      <div
        *ngIf="!(state$ | async).user?.emailVerifiedAt"
        style="
          background-color: #ff9966;
          color: #fff;
          border: 1px #ddd solid;

          padding: 12px;
          border-radius: 5px;
        "
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="16px"
      >
        <mat-icon>warning</mat-icon>
        <label>Email anda belum terverifikasi</label>
      </div>
      <div
        style="
          background-color: #ff9966;
          color: #fff;
          border: 1px #ddd solid;
          padding: 12px;
          border-radius: 5px;
        "
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="16px"
      >
        <mat-icon>warning</mat-icon>
        <label
          >Harap lengkapi Formulir di bawah ini untuk melanjutkan
          pembayaran</label
        >
      </div>
    </div>

    <div
      style="
        background-color: #fff;
        border: 1px #ddd solid;
        margin: 24px;
        padding: 24px;
        border-radius: 5px;
        min-height: 100vh;
      "
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
