<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
  <mat-form-field fxFlex="70%">
    <mat-label>Cari</mat-label>
    <input matInput #filterInput />
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <span class="mobile-label">No:</span>
        {{ element.index }}
      </mat-cell>
    </ng-container>

    <!-- Path Column -->
    <ng-container matColumnDef="university_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Universitas</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        <a class="hover" (click)="onDetailClick(element)">{{ element.universityName }}</a>
      </mat-cell>
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="faculty_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fakultas</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        {{ element.facultyName }}
      </mat-cell>
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="prodi_name">
      <mat-header-cell *matHeaderCellDef>Program Studi</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        {{ element.prodi.prodiName }}
      </mat-cell>
    </ng-container>
    <!-- Path Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status Anggota</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label"></span>
        <span *ngIf="element.registerLastStatus === 0" class="pills">Daftar Akun</span>
        <span *ngIf="element.registerLastStatus === 1" class="pills warn">Verifikasi</span>
        <span *ngIf="element.registerLastStatus === 2" class="pills success">Aktif</span>
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutGap="8px">
        <button mat-flat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDetailClick(element)">Detail</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="resultsLength"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
