<div
  fxLayout="column"
  fxLayoutGap="32px"
  fxLayoutAlign="start center"
  style="height: 100%; background-color: #ddd; padding-top: 64px"
>
  <div fxFlex="20">
    <img style="width: 100%; height: 100%" src="assets/image/logo.png" alt="" />
  </div>
  <mat-card style="width: 320px">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title style="margin: 24px 0px">Admin Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <form
        [formGroup]="loginForm"
        (submit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        style="margin: 0px 16px"
      >
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" type="email" />
          <mat-error *ngIf="!!loginForm.get('email')?.hasError('required')">Email harus diisi</mat-error>
          <mat-error *ngIf="!!loginForm.get('email')?.hasError('email')">Email tidak valid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" />
          <mat-error>Password harus diisi</mat-error>
        </mat-form-field>
        <div>
          <div style="margin-top: 20px; padding-bottom: 20px" fxLayout="row" fxLayoutAlign="space-around center">
            <button *ngIf="!loading" mat-raised-button color="primary" type="submit" fxFlex="33">Login</button>
            <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <mat-spinner color="primary" [diameter]="20"></mat-spinner>
              <label for="">Loading</label>
            </div>
          </div>
          <recaptcha [size]="'invisible'" [hide]="true"> </recaptcha>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
