li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 0.9em;
  left: -2em;
  width: 4em;
  height: 0.2em;
  background: dodgerblue;
  z-index: 1;
}

li:first-child::before {
  display: none;
}

.active {
  background: dodgerblue;
}

.active ~ li {
  background: lightblue;
}

.active ~ li::before {
  background: lightblue;
}

dt {
  display: block;
  float: left;
  width: 200px;
  text-align: left;
  font-weight: bold;
  clear: both;
}

dl {
  width: 100%;
}

dd::before {
  font-weight: bold;
  padding-right: 8px;
  content: ":";
}
dd {
  display: block;
}
