<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <img src="assets/image/logo.png" style="width: 42px" alt="" />
      <label for="">Admin APTFI</label>
    </mat-toolbar>
    <mat-accordion class="nav-accordion" multi [displayMode]="'flat'">
      <mat-expansion-panel [(expanded)]="approvalOpened" (opened)="onOpened('approval')">
        <mat-expansion-panel-header>Approval</mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="list-item">
          <a routerLink="/admin/verify" [routerLinkActive]="'active'">Verifikasi Pendaftaran</a>
          <a routerLink="/admin/sk-member">SK Anggota</a>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [(expanded)]="tagihanOpened" (opened)="onOpened('tagihan')">
        <mat-expansion-panel-header>Tagihan</mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="list-item">
          <a routerLink="/admin/tagihan" [routerLinkActive]="'active'">Rekap Tagihan</a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%">
        <span style="padding-left: 16px"></span>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="16px"
          [matMenuTriggerFor]="menu"
          class="pointer"
        >
          <div>{{ (state$ | async).user?.name }}</div>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
            <div style="width: 40px">
              <img style="width: 100%; border-radius: 50%" src="assets/image/profile.png" alt="" />
            </div>
            <mat-icon aria-label="Side nav toggle icon">expand_more</mat-icon>
          </div>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Keluar</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div
      style="
        background-color: #fff;
        border: 1px #ddd solid;
        margin: 24px;
        padding: 24px;
        border-radius: 5px;
        min-height: 100vh;
      "
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
