// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aptfi-primary: mat.define-palette(mat.$blue-gray-palette, 700);
$aptfi-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aptfi-warn: mat.define-palette(mat.$red-palette);

$aptfi-typography: mat.define-typography-config(
  // Specify "Manrope" as the default font family for all levels.
  $font-family: "Manrope"
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aptfi-theme: mat.define-light-theme(
  (
    color: (
      primary: $aptfi-primary,
      accent: $aptfi-accent,
      warn: $aptfi-warn,
    ),
    typography: $aptfi-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($aptfi-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Manrope", "Helvetica Neue", sans-serif;
}

.snackbar-warn {
  background-color: #ea5455;
  .mat-simple-snackbar {
    span {
      color: #fff;
    }
  }
}
.snackbar-success {
  background-color: #8ecf54;
  .mat-simple-snackbar {
    span {
      color: #333;
    }
  }
}

.nav-accordion .mat-expansion-panel-body {
  padding: 0;
}
.nav-accordion .mat-expansion-indicator::after {
  color: #fff;
}

.mat-step-icon-state-done {
  background-color: #8ecf54 !important;
  &.mat-step-icon-selected {
    background-color: #8ecf54 !important;
  }
}

.mat-step-icon-selected {
  background-color: #f5bd00 !important;
}
