<div
  fxLayout="column"
  fxLayoutGap="32px"
  fxLayoutAlign="start center"
  style="height: 100%; background-color: #ddd; padding-top: 64px"
>
  <div style="text-align: center">
    <img style="width: 70%" src="assets/image/logo2.png" alt="" />
  </div>
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="center center" style="margin: 0 16px">
      <mat-card-title style="margin: 24px 0px">Daftar akun ke Sistem Keanggotaan APTFI</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <form
        [formGroup]="loginForm"
        (submit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        style="margin: 0px 16px"
      >
        <mat-form-field>
          <input matInput placeholder="Nama Universitas" formControlName="name" type="text" />
          <mat-error *ngIf="!!loginForm.get('name')?.hasError('required')">Nama Universitas harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email Universitas" formControlName="email" type="email" />
          <mat-error *ngIf="!!loginForm.get('email')?.hasError('required')">Email Universitas harus diisi</mat-error>
          <mat-error *ngIf="!!loginForm.get('email')?.hasError('email')">Email Universitas tidak valid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" />
          <mat-error>Password harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ulangi Password" formControlName="passwordConfirmation" type="password" />
          <mat-error>Ulangi Password harus sama dengan password</mat-error>
        </mat-form-field>
        <div>
          <div style="margin-top: 20px; padding-bottom: 20px" fxLayout="row" fxLayoutAlign="space-around center">
            <button *ngIf="!loading" mat-raised-button color="primary" type="submit">Buat Akun Baru</button>
            <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <mat-spinner color="primary" [diameter]="20"></mat-spinner>
              <label for="">Loading</label>
            </div>
          </div>
          <recaptcha [size]="'invisible'" [hide]="true"> </recaptcha>

          <mat-divider></mat-divider>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 24px; width: 100%">
        <div>
          <a routerLink="/login">Masuk ke akun</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
